@import '../src/utils.scss';

body {
  padding-inline: 120px;
  & {
    @include onPhone {
      padding-inline: 20px;
    }
  }

  padding-top: 80px;
  background-color: #212130;
  color: white;
  z-index: -2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0% {
    color: #fff2a9;
  }
  25% {
    color: #fcff57;
  }
  50% {
    color: #ffe601;
  }
  75% {
    color: #fcff57;
  }
  100% {
    color: #fff2a9;
  }
}

.buttonLink {
  box-sizing: content-box;
  &--last {
    margin-bottom: 20px;
  }

  &-button {
    background-color: rgb(20, 20, 20);
    color: white;
  }
}
