@import '../../utils.scss';

.contact {
  &-title {
    font-size: $section-title-size;
    @include onPhone {
      font-size: $section-mobile-title-size;
    }
  }
  margin-bottom: 100px;
  display: flex;
  align-items: self-start;

  flex-direction: column;
  gap: 10px;

  &-text {
    width: auto;
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: $article-title-size;
    @include onPhone {
      font-size: $article-mobile-title-size;
    }
    & {
      @include onPhone {
        font-size: 16px;
      }
    }
  }
}
